{% with icon_name=icon %}
<div class="auth-card-icon auth-card-icon-{{ icon_name }}" aria-hidden="true">
  {% if icon_name == "login" %}
  <span class="material-symbols-outlined">login</span>
  {% elif icon_name == "signup" %}
  <span class="material-symbols-outlined">person_add</span>
  {% elif icon_name == "mail" %}
  <span class="material-symbols-outlined">mail</span>
  {% elif icon_name == "lock" %}
  <span class="material-symbols-outlined">lock</span>
  {% elif icon_name == "warning" %}
  <span class="material-symbols-outlined">warning</span>
  {% elif icon_name == "success" %}
  <span class="material-symbols-outlined">check_circle</span>
  {% else %}
  <span class="material-symbols-outlined">{{ icon_name }}</span>
  {% endif %}
</div>
{% endwith %}
